<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Profile</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <div class="container-fluid navbar navbar-expand-lg bg-dark justify-content-center">
      <nav>
        <div class="container">
          <h2><b>My Personal Information</b></h2>
        </div>
      </nav>
    </div>

    <div style="background-color: rgb(53, 49, 49);"  class="container-fluid text-center">
      <figure class="figure" >
        <img src="/image.jpg" class="figure-img img-fluid img-circle" alt="">
        <h4 class="text"><b>Erwin Prasetyo</b></h4>
        <figcaption>Junior Web Developer</figcaption>
      </figure>
    </div>

    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-sm-1">

          </div>
          <div class="col-sm-5">
            <h5>My Story</h5>
            
            <p align="justify">My name is erwin prasetyo, i graduated from a state university in semarang, born in pati district, on April 13, 1997. i like to learn about technology such as webiste programming, javascript, html, css, node js, express js. In addition to web programming, I have also studied the python programming language for data science. for now I'm studying google cloud engineer. I hope my learning can be made easier. I have a desire to be able to work in technology such as in the backend.</p>

          </div>
          <div class="col-sm-5">
            <h5>Personal Information</h5>
            <p>Age : <b>25 Years old</b></p>
            <hr>
            <p>Phone : <b>089695372492</b></p>
            <hr>
            <p>Email : <b>erwinsetyoprasetyo@gmail.com</b></p>
            <hr>
            
          </div>
          <div class="col-sm-1">
            
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <h4 style="color: black;"><b>Find Me in !</b></h4>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col">
              <a href="https://github.com/erwinprasetyo97">
                <img class="sosmed" src="/github.png" alt="">
              </a>
            </div>
            <div class="col">
              <a href="https://www.linkedin.com/in/erwin-prasetyo-471863117/">
                <img class="sosmed" src="/linkedin.png" alt="">
              </a>
            </div>
            <div class="col">
              <a href="https://twitter.com/erwinprasetyo97">
                <img class="sosmed" src="/twitter.png" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>

    <div class="container-fluid navbar navbar-expand-lg bg-secondary justify-content-center">
      <nav>
        <div class="container">
          <p>
            &copy; Copyright 2022 <a class="text-white" href="https://instagram.com/erwinprasetyo97">erwinprasetyo</a>
          </p>
        </div>
      </nav>
    </div>


    <script src="/bootstrap.min.js"></script>
  </body>
</html>